body {
	max-width: 1200px;
	margin: 0 auto;
}
.header {
	height: 1rem;
  background-color: #84ca4d;
  text-align: center;
  color: #fff;
  position: relative;
  font-size: .4rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container section {
	margin-bottom: 2rem;
}
.container>img {
	width: 100%;
	display: block;
	height: 160px;
}